body {
    margin: 0;
}
.container {
    margin: auto;
    width: 50%;
}

/* CALENDER AREA */

.calender {
    padding-top: 50px;
}

/* HEADING AREA */

.heading {
    text-align: center;
}
.heading h1 {
    font-size: 40px;
    color: darkmagenta;
}

/* MONTH AREA */

.month ul li a {
    text-decoration: none;
    padding: 10px 20px;
    color: black;
    font-size: 18px;
}
.month button {
    padding: 10px;
    border-radius: 3px;
    border: 2px solid slateblue;
    background-color: burlywood;
}
.month button:hover {
    background-color: royalblue;
}
.month ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    list-style: none;
}
.month p {
    margin: 0;
    padding: 10px;
    font-size: 20px;
    color: darkblue;
}

/* DAY AREA */

.day ul {
    display: grid;
    grid-gap: 15px;
    grid-template-columns: repeat(7, 1fr);
}
.day ul li {
    list-style: none;
    background-color: #F5B0A3;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    font-size: 18px;
    border-radius: 10px;
}
.day ul li:hover {
    background-color: #EB6347;
    border-radius: 30px 15px;
    font-style: italic;
    font-family: sans-serif;
    font-weight: bold;
}

/* DATE AREA */

.date {
    padding-top: 10px; 
}
.date ul {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 15px;
}
.date ul li {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    background-color: #8DB9A8;
    font-size: 18px;
    color: whitesmoke;
    padding: 20px;
    border-radius: 10px;
}
.prev {
    background-color: lightcoral !important;
}
.next {
    background-color: lightseagreen !important;
}
.date li:hover {
    border-radius: 40px;
    transition-duration: 0.5s;
    background-color: darkcyan !important;
}

/* FOOTER AREA */ 

.footer-area {
    text-align: center;
    padding-top: 60px;
}